[submodule ".registry"]
	path = .registry
	url = https://github.com/henrikbengtsson/henrikbengtsson.r-universe.dev
	branch = HEAD
[submodule "HaarSeg"]
	path = HaarSeg
	url = https://github.com/HenrikBengtsson/HaarSeg
	branch = main
[submodule "dChipIO"]
	path = dChipIO
	url = https://github.com/HenrikBengtsson/dChipIO
	branch = master
[submodule "expectile"]
	path = expectile
	url = https://github.com/HenrikBengtsson/expectile
	branch = master
[submodule "sfit"]
	path = sfit
	url = https://github.com/HenrikBengtsson/sfit
	branch = master
