[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ACNE"]
	path = ACNE
	url = https://github.com/henrikbengtsson/acne
	shallow = true
	branch = HEAD
[submodule "aroma.affymetrix"]
	path = aroma.affymetrix
	url = https://github.com/henrikbengtsson/aroma.affymetrix
	shallow = true
	branch = HEAD
[submodule "aroma.apd"]
	path = aroma.apd
	url = https://github.com/henrikbengtsson/aroma.apd
	shallow = true
	branch = HEAD
[submodule "aroma.cn"]
	path = aroma.cn
	url = https://github.com/henrikbengtsson/aroma.cn
	shallow = true
	branch = HEAD
[submodule "aroma.core"]
	path = aroma.core
	url = https://github.com/henrikbengtsson/aroma.core
	shallow = true
	branch = HEAD
[submodule "calmate"]
	path = calmate
	url = https://github.com/henrikbengtsson/calmate
	shallow = true
	branch = HEAD
[submodule "dChipIO"]
	path = dChipIO
	url = https://github.com/henrikbengtsson/dchipio
	shallow = true
	branch = HEAD
[submodule "doFuture"]
	path = doFuture
	url = https://github.com/henrikbengtsson/dofuture
	shallow = true
	branch = HEAD
[submodule "future"]
	path = future
	url = https://github.com/henrikbengtsson/future
	shallow = true
	branch = HEAD
[submodule "future.apply"]
	path = future.apply
	url = https://github.com/henrikbengtsson/future.apply
	shallow = true
	branch = HEAD
[submodule "future.BatchJobs"]
	path = future.BatchJobs
	url = https://github.com/henrikbengtsson/future.batchjobs
	shallow = true
	branch = HEAD
[submodule "future.batchtools"]
	path = future.batchtools
	url = https://github.com/henrikbengtsson/future.batchtools
	shallow = true
	branch = HEAD
[submodule "future.callr"]
	path = future.callr
	url = https://github.com/henrikbengtsson/future.callr
	shallow = true
	branch = HEAD
[submodule "future.tests"]
	path = future.tests
	url = https://github.com/henrikbengtsson/future.tests
	shallow = true
	branch = HEAD
[submodule "globals"]
	path = globals
	url = https://github.com/henrikbengtsson/globals
	shallow = true
	branch = HEAD
[submodule "listenv"]
	path = listenv
	url = https://github.com/henrikbengtsson/listenv
	shallow = true
	branch = HEAD
[submodule "matrixStats"]
	path = matrixStats
	url = https://github.com/henrikbengtsson/matrixstats
	shallow = true
	branch = HEAD
[submodule "parallelly"]
	path = parallelly
	url = https://github.com/henrikbengtsson/parallelly
	shallow = true
	branch = HEAD
[submodule "profmem"]
	path = profmem
	url = https://github.com/henrikbengtsson/profmem
	shallow = true
	branch = HEAD
[submodule "progressr"]
	path = progressr
	url = https://github.com/henrikbengtsson/progressr
	shallow = true
	branch = HEAD
[submodule "PSCBS"]
	path = PSCBS
	url = https://github.com/henrikbengtsson/pscbs
	shallow = true
	branch = HEAD
[submodule "R.cache"]
	path = R.cache
	url = https://github.com/henrikbengtsson/r.cache
	shallow = true
	branch = HEAD
[submodule "R.devices"]
	path = R.devices
	url = https://github.com/henrikbengtsson/r.devices
	shallow = true
	branch = HEAD
[submodule "R.filesets"]
	path = R.filesets
	url = https://github.com/henrikbengtsson/r.filesets
	shallow = true
	branch = HEAD
[submodule "R.huge"]
	path = R.huge
	url = https://github.com/henrikbengtsson/r.huge
	shallow = true
	branch = HEAD
[submodule "R.matlab"]
	path = R.matlab
	url = https://github.com/henrikbengtsson/r.matlab
	shallow = true
	branch = HEAD
[submodule "R.methodsS3"]
	path = R.methodsS3
	url = https://github.com/henrikbengtsson/r.methodss3
	shallow = true
	branch = HEAD
[submodule "R.oo"]
	path = R.oo
	url = https://github.com/henrikbengtsson/r.oo
	shallow = true
	branch = HEAD
[submodule "R.rsp"]
	path = R.rsp
	url = https://github.com/henrikbengtsson/r.rsp
	shallow = true
	branch = HEAD
[submodule "R.utils"]
	path = R.utils
	url = https://github.com/henrikbengtsson/r.utils
	shallow = true
	branch = HEAD
[submodule "startup"]
	path = startup
	url = https://github.com/henrikbengtsson/startup
	shallow = true
	branch = HEAD
